    #navbar .navbar-nav {
        display: inline-block;
        float: none;
        padding: 10px;
    }
    
    #navbar .navbar-collapse {
        text-align: center;
    }

    #navbar{
        background-color: #242d36;
    }
    
    #navbar ul {
        padding-top:20px;
    }
    
    #navbar ul li {
        padding-left:5px;
        padding-right:5px;
    }
    
    #navbar ul li a {
        margin-bottom: 3px;
        margin-top: 3px;
        text-decoration:none;
        /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ padding:.2em 1em;
        /* Gives the link space inside it's individual block. */ background-color:#000;
        /* Set as desired */ color:#fff;
        /* Set as desired */
        border:2px;
        border-style:solid;
        opacity:0.5px;
        font-family:'Open Sans',sans-serif;
        font-size:14px;
    }
    
    #navbar ul li a:hover {
        color:#FFFFFF;
        background-color:#556;
    }
    
      #navbar ul li a.active {
        color:#FFFFFF;
        background-color:#556;
    }
    
    #navbar li {
        -webkit-transition:all 0.2s;
    }
    
    #navbar li a {
        -webkit-transition:all 0.5s;
    }
    
    #navbar li ul {
        -webkit-transition:all 1s;
    }
    
    #navbar li ul li {
        -webkit-transition:height 0.5s;
    }
    
    .bot1 {
        height:30px;
        background-color:#a1bac1;
        vertical-align: bottom;
    }
    
    .bot2 {
        height:90px;
        background-color:#242d36;
        vertical-align: bottom;
    }
    
    .icons {
        padding: 30px
    }
    
    .icons ul li {
        color:#df5c5f;
        display:inline-block;
        top:365px;
        font-size:100px;
        left:320px;
        padding-left:50px;
        padding-right:50px;
    }

    .icons ul li a {
        color:#df5c5f;
        text-decoration: none;
    }
   
    .icons ul li a i:hover {
        opacity:0.5;
        text-decoration: none;
    }
           
    .icons ul li  span{
       display: none;
    }    
      
    .slasher{
        color: #a1bac1;
    }
    
    .imgmain {
        border:5px solid;
        border-color:#192131;
        margin-top: 30px;
    }
    
    .header h4 {
        font-size:40px;
        color:#FFFFFF;
        font-family:'Play',no-serif;
        text-shadow:3px 3px #0000000;
        font-weight:100;
        top:63px;
        left:520px;
        font-family:'Open Sans Condensed',sans-serif;
        color:transparent;
        text-shadow:0 0 5px rgba(0,0,0,0.5);
    }
    
    .header h2 {
        margin-top: 40px;
        font-size:40px;
        font-family:'Play',no-serif;
        text-shadow:3px 3px #0000000;
        font-weight:100;
        top:80px;
        left:520px;
        font-family: 'brownieregularbold' ,sans-serif;
    }
    
    .header h3 {
        font-size:15px;
        font-family:'Play',no-serif;
        text-shadow:3px 3px #0000000;
        font-weight:100;
        top:150px;
        left:530px;
        font-family:'brownielightlight',sans-serif;
        letter-spacing:5px;
    }
    

/* Create square icons, white logo on colored background */

#socalisms .fa {
    color: white;
    border-radius: 4px;
    border: 1px outset rgba(128, 128, 128, 0.5);
    min-width: 27px;
    line-height: 27px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}

#socalisms a {
    margin-right: 5px;
    padding: 5px; /* Increase hit rectangle for touch devices */
}

#socalisms a:first-child {
    padding-left: 0;
}

/* Set icon color related to the service */

#socalisms a span {
    margin-left: 5px;
    margin-bottom: 10px;
}

#socalisms .icon-rss {
    background: #e5842f;
}

#socalisms .icon-facebook {
    background: #3B5998;
}

#socalisms .fa-twitter-square {
    background: #00ACED;
}

#socalisms .fa-google {
    background: #E14107;
}

#socalisms .fa-youtube-square {
    background: red;
}

#socalisms .fa-wordpress {
    background: #1e8cbe;
}

#socalisms .fa-vine {
    background: #00d9a3;
}

#socalisms .fa-database {
    background: black;
}

/* Don't underline icon etc. */
#socalisms a:hover {
    text-decoration: none;
}

#socalisms a:hover span {
    text-decoration: underline;
    color: #333333; /* Match icon highlight color */
}

/* Animate mouse hover */
#socalisms a .icon {
   transition: background 0.5s;
}

#socalisms a:hover .icon {
    background: #333333;
    transition:
 }
 
 .bs-example:after {
    color: #959595;
    content: "Example";
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

#intro {
    background: none repeat scroll 0 0 #a1bac1;
    color: white;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'brownielightlight';
    src: url('brownielight-webfont.eot');
    src: url('brownielight-webfont.eot?#iefix') format('embedded-opentype'),
         url('brownielight-webfont.woff') format('woff'),
         url('brownielight-webfont.ttf') format('truetype'),
         url('brownielight-webfont.svg#brownielightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brownieregularbold';
    src: url('brownieregular-webfont.eot');
    src: url('brownieregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('brownieregular-webfont.woff') format('woff'),
         url('brownieregular-webfont.ttf') format('truetype'),
         url('brownieregular-webfont.svg#brownieregularbold') format('svg');
    font-weight: normal;
    font-style: normal;

}