#navbar .navbar-nav{display:inline-block;float:none;padding:10px;}
#navbar .navbar-collapse{text-align:center;}
#navbar{background-color:#242d36;}
#navbar ul{padding-top:20px;}
#navbar ul li{padding-left:5px;padding-right:5px;}
#navbar ul li a{margin-bottom:3px;margin-top:3px;text-decoration:none;padding:.2em 1em;background-color:#000;color:#fff;border:2px;border-style:solid;opacity:0.5px;font-family:'Open Sans',sans-serif;font-size:14px;}
#navbar ul li a:hover{color:#FFFFFF;background-color:#556;}
#navbar ul li a.active{color:#FFFFFF;background-color:#556;}
#navbar li{-webkit-transition:all 0.2s;}
#navbar li a{-webkit-transition:all 0.5s;}
#navbar li ul{-webkit-transition:all 1s;}
#navbar li ul li{-webkit-transition:height 0.5s;}
.bot1{height:30px;background-color:#a1bac1;vertical-align:bottom;}
.bot2{height:90px;background-color:#242d36;vertical-align:bottom;}
.icons{padding:30px}
.icons a{color:#df5c5f;display:inline-block;font-size:100px;padding:20px;}
.icons a:hover{opacity:0.5;text-decoration:none;}
.slasher{color:#a1bac1;}
.imgmain{border:5px solid;border-color:#192131;margin-top:30px;}
.header h4{font-size:40px;color:#FFFFFF;font-family:'Play',no-serif;text-shadow:3px 3px #0000000;font-weight:100;top:63px;left:520px;font-family:'Open Sans Condensed',sans-serif;color:transparent;text-shadow:0 0 5px rgba(0,0,0,0.5);}
.header h2{margin-top:40px;font-size:40px;font-family:'Play',no-serif;text-shadow:3px 3px #0000000;font-weight:100;top:80px;left:520px;font-family:'brownieregularbold' ,sans-serif;}
.header h3{font-size:15px;font-family:'Play',no-serif;text-shadow:3px 3px #0000000;font-weight:100;top:150px;left:530px;font-family:'brownielightlight',sans-serif;letter-spacing:5px;}
#socalisms .fa{color:white;border-radius:4px;border:1px outset rgba(128, 128, 128, 0.5);min-width:27px;line-height:27px;text-align:center;text-shadow:1px 1px 1px rgba(128, 128, 128, 0.5);}
#socalisms a{margin-right:5px;padding:5px;}
#socalisms a:first-child{padding-left:0;}
#socalisms a span{margin-left:5px;margin-bottom:10px;}
#socalisms .icon-rss{background:#e5842f;}
#socalisms .icon-facebook{background:#3B5998;}
#socalisms .fa-twitter-square{background:#00ACED;}
#socalisms .fa-google{background:#E14107;}
#socalisms .fa-youtube-square{background:red;}
#socalisms .fa-wordpress{background:#1e8cbe;}
#socalisms .fa-vine{background:#00d9a3;}
#socalisms .fa-database{background:black;}
#socalisms a:hover{text-decoration:none;}
#socalisms a:hover span{text-decoration:underline;color:#333333;}
#socalisms a .icon{transition:background 0.5s;}
#socalisms a:hover .icon{background:#333333;transition:}
.bs-example:after{color:#959595;content:"Example";font-size:12px;font-weight:700;left:15px;letter-spacing:1px;position:absolute;text-transform:uppercase;top:15px;}
#intro{background:none repeat scroll 0 0 #a1bac1;color:white;padding-bottom:60px;padding-top:60px;margin-bottom:20px;}
@font-face{font-family:'brownielightlight';src:url('brownielight-webfont.eot');src:url('brownielight-webfont.eot?#iefix') format('embedded-opentype'),
url('brownielight-webfont.woff') format('woff'),
url('brownielight-webfont.ttf') format('truetype'),
url('brownielight-webfont.svg#brownielightlight') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'brownieregularbold';src:url('brownieregular-webfont.eot');src:url('brownieregular-webfont.eot?#iefix') format('embedded-opentype'),
url('brownieregular-webfont.woff') format('woff'),
url('brownieregular-webfont.ttf') format('truetype'),
url('brownieregular-webfont.svg#brownieregularbold') format('svg');font-weight:normal;font-style:normal;}
body{line-height:24px;}
.portrait{background:none repeat scroll 0 0 white;text-align:center;}
.portrait .img-arrow{display:none;max-width:30px;}
.portrait #open-content{min-width:130px;}
.portrait .box-note{background:none repeat scroll 0 0 #249ebd;border-radius:10px;color:white;margin:30px auto;max-width:350px;padding:10px 15px;position:relative;}
.portrait .box-note:after{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #249ebd;bottom:-10px;content:"";left:50%;margin-left:-10px;position:absolute;}
.portrait .portrait-img-area{margin:0 auto;position:relative;width:160px;}
.portrait .portrait-img-area .avatar{width:140px;}
.portrait .portrait-img-area .profile-links a{background:none repeat scroll 0 0 #e1e1e1;border-radius:50%;font-size:12px;padding:3px;position:absolute;width:30px;}
.portrait .portrait-img-area .profile-links a.facebook{background:none repeat scroll 0 0 #2c92ac;bottom:0;color:white;left:-10px;}
.portrait .portrait-img-area .profile-links a.twitter{background:none repeat scroll 0 0 #2c92ac;bottom:0;color:white;right:-10px;}
.portrait .name{font-size:30px;font-weight:700;line-height:50px;margin-bottom:20px;}
.portrait .name small{display:block;font-size:16px;letter-spacing:3px;}
#main-content{position:relative;}
.content{background:none repeat scroll 0 0 white;box-shadow:0 10px 0 #36546d;padding-top:80px;}
.title{border-bottom:1px solid #ddd;font-size:18px;font-weight:700;margin-bottom:20px;padding-bottom:15px;position:relative;}
.title.with-icon{padding-left:50px;}
.title .icn-title{background:none repeat scroll 0 0 #249ebd;border-radius:5px;color:white;display:inline-block;left:0;margin-right:5px;min-height:40px;min-width:40px;padding:10px 10px 13px;position:absolute;text-align:center;top:-6px;}
.title .icn-title:after{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #249ebd;bottom:-10px;content:"";left:50%;margin-left:-10px;position:absolute;}
.mini-desc, .img-profile, .identity-area, .box-block{margin-bottom:30px;margin-top:15px;}
@media (max-width:900px){.mini-desc{text-align:center !important;}
}
.divider{border-bottom:1px dashed #ddd;height:1px;margin:10px 0;}
.list-strip li{background:none repeat scroll 0 0 #4b6f78;border-radius:5px;color:white;margin-bottom:6px;padding:10px;}
.list-strip li:nth-child(2n){background:none repeat scroll 0 0 #df5c5f;}
#sminus, #mminus{margin-right: 10px;}
#splus, #mplus{margin-left: 10px;}
